<div class="container">

<h1>Questions</h1>
<p class="question"><%= @question %>
<br>- You</p>
<p class="answer"><%= @answer %><br>- Your coach</p>
<p><%= link_to "Ask me anything", "/ask", :style=> 'color: #3379B8;''text-decoration: none;'%>
</p>
</div>
